transition(args...)
   -webkit-transition: args
   -moz-transition: args
   -o-transition: args
   -ms-transition: args
   transition: args

border-radius(radius)
   -webkit-border-radius: radius
   -moz-border-radius: radius
   border-radius: radius