extends layout

block body
   .search-bar
      form(action="/lattylongie", method="get")
         .input-box
            .text What’s going on at
            .input-container
               input(type="text", name="coords")
            .text ?

            button(type="submit")
               span Discover

   .poop-the-giraffe

   .cityscape
      .background(data-bind="parallax: { x: { 'background-position-x': 0.06 }, y: { 'height': -0.01 } }")
      .middleground(data-bind="parallax: { x: { 'background-position-x': 0.03 }, y: { 'height': -0.01 } }")
      .foreground(data-bind="parallax: { x: { 'background-position-x': 0.01 }, y: { 'height': -0.01 } }")