block append scripts
   script(src='/socket.io/socket.io.js')
   != js("lib/jquery")
   != js("twitter")

block body
  style

  #poop
    #speech
      p Did you know giraffes poop more than they eat in a day?
        span.time_ago 2 minutes ago 
