block append scripts
   #meta(http-equiv="refresh", content="1")

   script(src='/socket.io/socket.io.js')
   != js("lib/knockout")
   != js("lib/jquery")
   != js("twitter")
   != css("pages/twitter")

block body

  #poop
    #speech
      p(data-bind="text: tweet().text") 
      span.tweeter(data-bind="text: tweet().user.screen_name") 