body.search

   .cityscape
      position: absolute

      bottom: 0
      height: 289px
      width: 100%

      .foreground,
      .middleground,
      .background
         position: absolute

         bottom: 0
         width: 100%

         background: url("/images/cityscape.png") repeat-x

      .foreground
         height: 240px
         background-position: 30px 0

      .middleground
         height: 292px
         background-position: 10px -241px

      .background
         height: 340px
         background-position: 110px -489px