body//.stream

   .instagroto
      img
         size = 600px
         width: size
         height: size

         @media (-webkit-min-device-pixel-ratio: 2)
            size = 300px
            width: size
            height: size


