#poop 
   position: fixed;
   top: -280px;
   right: -10px;  
   height: 608px;
   width: 200px;
   background: transparent url('/images/giraffe-upside.png') no-repeat;

#speech
   position: absolute;
   top: 294px;
   left: -148px;
   width: 200px;
   border: 1px solid #555;

   span
      text-align: center;
      width: 200px;
      display: block;

      &.tweeter
         font-size: 14px;
   p
      margin: 5px 15px;
      font-size: 15px;