#poop 
   position: fixed;
   top: -260px;
   right: -10px;  
   height: 608px;
   width: 200px;
   background: transparent url('/images/giraffe-upside.png') no-repeat;

#speech
   position: absolute;
   top: 264px;
   left: -148px;
   width: 210px;
   height: 134px
   background: transparent url('/images/tweet-dialog.png') no-repeat;
   padding-top: 10px;
   font-family: Comic Sans MS;

   span
      text-align: center;
      width: 210px;
      display: block;

      &.tweeter
         font-size: 14px;
   p
      margin: 6px 12px 3px 17px;
      font-size: 15px;