@import "lib/mixins"

html, body
   margin: 0
   padding: 0
   background-color: #fff
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

ol, ul
   margin: 0
   padding: 0
   list-style-type: none

h1, h2, h3, h4, h5, h6
   margin: 0
   padding: 0
   font-size: 1em
   font-weight: bold

.location-header
   padding: 10px

   background-gradient: #ccc #bbb
   border-bottom: 1px #aaa solid

   h1 
      float: left
      color: #999

   h2 
      text-align: right

.instagroto, .tweet, .place
   display: block
   text-decoration: none
   color: #444

   background-gradient: #eee #ddd
   border-bottom: 1px #bbb solid

   &:hover
      background-gradient: #ddd #ccc

   &:active
      background-gradient: #ccc #ddd
