@import "lib/mixins"

html, body
   margin: 0
   padding: 0
   background-color: #eee
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

ol, ul
   margin: 0
   padding: 0
   list-style-type: none

h1, h2, h3, h4, h5, h6
   margin: 0
   padding: 0
   font-size: 1em
   font-weight: bold

.location-header
   padding: 10px

   background-gradient: #ccc #bbb
   border-bottom: 1px #aaa solid

   h1 
      padding: 4px 0 7px 30px
      margin: -4px 0 -7px 0
      float: left

      background: url('/images/header-point.png') no-repeat left top
      background-size: 20px 26px

      a 
         text-decoration: none
         color: #444


   h2 
      float: right

      &.menu
         cursor: pointer
         padding-right: 30px
         background: url("/images/list.png") no-repeat right 1px
         background-size: 20px 20px

.clear
   clear: both

.instagroto, .tweet, .place, .your-location
   display: block
   cursor: pointer
   text-decoration: none
   color: #444

   background-gradient: #eee #ddd
   border-bottom: 1px #bbb solid

   &:hover
      background-gradient: #ddd #ccc

   &:active
      background-gradient: #ccc #ddd
   &.go
      background: transparent url('/images/more.png') no-repeat right middle

.clear
   clear: both
